.card:hover {
  border: 5px solid #00f4f4;
}

a {
  color: black;
  text-decoration: none;
}

.active {
  color: coral;
}

.form-label {
  color: black;
  font-size: 16px;
}

.button {
  background-color: rgb(22, 20, 20);
  color: #fff;
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  font-size: 14px;
}

body {

  margin: 0;
  font-family: 'Roboto', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;

}

h3 {
  font-size: x-large;
}

h4 {
  font-size: large;
}

.box {
  background-color: lightblue;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 2rem;

}

#nav-bar {
  background-color: #eaf6f6;
  text-decoration-color: white;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  height: 45px;
  align-items: center;
  padding-left: 20px;
}

.links-group {
  display: flex;
  gap: 12px;
  align-items: center;
}

#app-logo {
  width: 38px;
  height: 38px;
}


#search {
  width: 350px;
  background-color: rgb(250, 249, 246);
  color: black;
  border-radius: 10px;
  border: none;
  padding: 6px 20px;
  font-size: 14px;
  margin-top: 2px;
}

#log-out {
  background-color: black;
  color: rgb(250, 249, 246);
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  font-size: 14px;
  margin-top: 2px;
}

.search-group {
  display: flex;
  align-items: center;
  padding-right: 20px;
  gap: 20px;
}

#login {
  background-color: #eaf6f6;
    width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 1000px;
}

#login-header {
 padding-top: 85px;
}

#login-form {
  justify-content: center;
  border: 50px;
}

.login-input-group {
  display: flex;
  gap: 12px;
  align-items: center;
  border: none;
  font-size: 14px;
}

.username-input {
  background-color: rgb(250, 249, 246);
  color: black;
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  font-size: 16px;
  width: 200px;
}

.password-input {
  background-color: rgb(250, 249, 246);
  color: black;
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  font-size: 16px;
  width: 200px;
}

.login-btn-group {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-top: 15px;
  justify-content: center;
}

.login-btn {
  background-color: rgb(22, 20, 20);
  color: #fff;
  border-radius: 16px;
  border: none;
  padding: 6px 18px;
  font-size: 14px;
}

#create-profile-div {
  background-color: #eaf6f6;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px;
  gap: 20px;
}

.create-profile-container {
  display: flex;
  height: 100%;
  
}

.create-profile-form {
  color: #fff;
  border: none;
  padding: 6px 16px;
  font-size: 14px;
  width: 600px;
  gap: 20px;
  
}

#Home {
  display: flex;
  gap: 20px;
  flex-direction: row;
  background-color: #eaf6f6;
  justify-content: center;
}

#home {
  display: flex;
  flex-direction: row;
  margin: 25px;
}

.map-container {
  height: 62vh;
  width: 52vw;
  border: none;
  border-radius: 30px;
  margin-top: 149px;
}

#event-container {
  height: 1250px;
  width: 40vw;
  margin-top: 100px;
  background-color: #eaf6f6;
  color: black;
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  font-size: 16px;
}

.block-header {
  font-size: 28px;
  padding-right: 220px;
}

.event-wrap {
  height: 75rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#event-card {
  background-color: rgb(250, 249, 246);
  border-radius: 30px;
  font-size: 20px;
  width: 500px;
  /* height: 250px; */
}

#event-card-body {
  padding: 10px;
} 

#event-container-btn {
  border-radius: 30px;
  margin-top: 5px;
}

.joined-btn {
  background-color: limegreen;
  color: white;
}

#location-container {
  height: 110vh;
  width: 45vw;
  margin-top: 25px;
  color: black;
  border-radius: 30px;
  border: none;
  padding: 6px 16px;
  font-size: 16px;
  overflow-y: auto;
}

#location-card {
  background-color: rgb(250, 249, 246);
  border-radius: 12px;
}

#location-card-img {
  border-radius: 12px;
  height: 40vh;
}

#my-activities {
  display: flex;
  flex-direction: row;
  background-color: #eaf6f6;
  gap: 20px;
  justify-content: center;
  height: 1000px;

}

#my-activities-container {
  height: 70vh;
  width: 400px;
  display: flex;
  min-height: 100%;
}


.my-activities-header {
  font-size: 26px;
  margin-left: 10px;
}

#my-activities-list {
  margin-top: 100px;
  width: 350px;
  gap: 15px;
}

.activity-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#activity-card {
  border-radius: 30px;
}

#meet {
  background-color: rgb(250, 249, 246);
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;

}

#meet-page-container {
  display: flex;
  height: 60rem;
}


#meet-container {
  margin-top: 75px;
  height: 600px;
  width: 32vw;
  gap: 15px;
}

#users-near-wrap {
  overflow-y: scroll;
  height: 50rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#meet-card {
  border-radius: 20px;
  background-color: #eaf6f6;
}

.friends-wrap {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#friends-list {
  margin-top: 75px;
  height: 500px;
  width: 30vw;
}

#friend-card {
  border-radius: 30px;
  height: 125px;
}

#unfriend-btn{
  margin-top: 5px;
  background-color: limegreen;
}
#message-btn{
  margin-top: 5px;
  background-color: limegreen;
}


img {
  height: 250px;
  width: 190px;
}

.host-event-page {
  height: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #eaf6f6;
  justify-content: center;
}

#host-event-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  background-color: #eaf6f6;
  justify-content: center;
}

#host-header {
  justify-content: center;
  margin-left: 88px;
  font-size: 34px;
  margin-top: 150px;
}

.host-wrap {
  gap: 5px;
  flex-direction: row;
  background-color: #eaf6f6;
  justify-content: center;
}

.host-form {
  justify-content: center;
  width: 650px;
  margin-top: 50px;
  height: 800px;
  gap: 15px;
}

#host-btn {
  margin-top: 10px;
}

.host-event-posted {
  margin-top: 450px;
}

.profile-page {
  height: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color:rgb(250, 249, 246);
  justify-content: center;
}

#profile-container {
  height: 800px;
  width: 80%;
  flex-direction: row;
  background-color:rgb(250, 249, 246);
  justify-content: center;
}

#profile-wrap {
  display: flex;
  flex-direction: row;
  background-color: #eaf6f6;
  justify-content: center;
  width: 700px;
  margin-top: 200px;
  margin-left: 175px;
  border-radius: 16px;
  gap: 5px;
}

#profile-card-body {
  gap: 10px;
}

.profile-btn {
  background-color: rgb(250, 249, 246);
}

#address-input {
  width: 375px;
}


.card-text {
  margin: 0;
}

input:focus {
  background-color: grey;
  outline: none;
  border: 1px solid rgb(0, 0, 0)
}